#account-page.account-page
  .account-page__inner.clearfix
    .account-page__inner--left.account-page__header
      %h2 Create Account
      %h5 新規アカウントの作成
      = render "devise/shared/links"
    .account-page__inner--right.user-form
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = devise_error_messages!
        .field
          .field-label
            = f.label :名前
          .field-input
            = f.text_field :name, autofocus: true,placeholder: "名前を入力  例:田中 太郎"
        .field
          .field-label
            = f.label :メールアドレス
          .field-input
            = f.email_field :email,placeholder: "メールアドレスを入力  例:hoge1234@gmail.com"
        .field
          .field-label
            = f.label :パスワード
            %i (英数字8文字以上)
          .field-input
            = f.password_field :password, autocomplete: "off",placeholder: "パスワードを入力  例:hoge1234"
        .field
          .field-label
            = f.label :確認用パスワード
          .field-input
            = f.password_field :password_confirmation, autocomplete: "off",placeholder: "パスワードを再度入力  例:hoge1234"
        .actions
          = f.submit "アカウントを作成する", class: 'btn'
    %br
    %h6 ※アカウントとは...
    %br
    %h7 〜インターネット上のサービスを利用したりするために必要な個人を特定するための会員名のようなものです〜
      
